<body>
    <div class="h-100 backgroundMujeres d-flex flex-column">
        <div class="py-5 mt-auto mb-auto">
            <div class="body"></div>
            <nav>
                <button type="button" class="btn btn-index">
                    <a class="botonIndex" href="http://localhost:4200/index">Index</a>
                </button>

                <button type="button" class="btn btn-hombre">
                    <a class="botonHombre" href="http://localhost:4200/hombre">Hombres</a>
                </button>
                <button type="button" class="btn btn-teen">
                    <a class="botonTeen" href="http://localhost:4200/teen">Teen</a>
                </button>

                <button type="button" class="btn btn-mujeres">
                    <a class="botonMujeres" href="http://localhost:4200/mujeres">Mujeres</a>
                </button>

                <button type="button" class="btn btn-niños">
                    <a class="botonNiños" href="http://localhost:4200/page-4">Niños</a>
                </button>
            </nav>

            <div class="contenedor">
                <!-- Fila 1 -->
                <div class="fila">

                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/ChalecoTraje.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Chaleco traje lino</h3>
                            <p class="card-text">

                                100% Lino. Diseño recto. Cuello pico. Sin mangas. Tirantes anchos. Dos bolsillos de ribete en la parte delantera. Cierre delantero con botones. Forro interior. Total look.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$1,299.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                        <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                        <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                        <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                        <button class="Tallas-card" onclick="changeColor(this)">G</button>                              
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Azul Celeste
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/FaldaPareo.avif" class="card-img-top">
                        <div class="Detalles">
                            <h3 class="card-title">Falda pareo detalles bordados</h3>
                            <p class="card-text">
                            Tejido 100% algodón. Tejido semitransparente. Diseño evasé. Diseño asimétrico. Diseño pareo. Diseño midi. Tiro bajo. Cierre de lazo en la parte delantera. Detalles bordados. Festival Season.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$799.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">Unitalla</button>
                                    
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Amarillo Pastel
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/BañadorEstampado.avif" class="card-img-top">
                        <div class="Detalles">
                            <h3 class="card-title">Bañador estampado animal</h3>
                            <p class="card-text">
                                Tejido elástico. Diseño asimétrico. Estampado animal print. Hombro descubierto. Tirante ancho. Forro interior. Colección baño. Festival Season.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$1,499.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">G</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Negro
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/CapazoTachuelas.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Capazo detalle tachuelas</h3>
                            <p class="card-text">
                            Tejido de fibra natural. Tamaño pequeño. Estilo shopper. Doble asa corta. Asa larga ajustable y desmontable. Bolsa interior. Cierre de lazo. Cierre de botón magnético. Detalle lateral en contraste.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$1,499.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">Unitalla</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Cuero
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

                <!-- Fila 2 -->
                <div class="fila">
                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/JerseyPolo.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Jersey punto cuello polo</h3>
                            <p class="card-text">Tejido de punto fino. Diseño recto. Cuello polo con cierre de botones. Manga corta. Colección Mango Tennis Club. Ribetes de color en contraste. </p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$999.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">G</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Azul Marino Oscuro
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/ZapatoTacon.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Zapato tacón destalonado</h3>
                            <p class="card-text">Tacón de aguja. Con punta. Destalonado. Cierre de hebilla. Hebilla decorativa. Forro interior. El tacón mide 8 cm. Colección fiesta y ceremonia.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$1,499.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">2</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">4</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">5</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">6</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Rojo
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/PendientesFlores.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Pendientes colgantes flores</h3>
                            <p class="card-text">Diseño largo. Diseño combinado. Cierre de gancho.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$599.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">Unitalla</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Naranja
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesMujeres/GafasSol.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Gafas de sol montura metálica redondas</h3>
                            <p class="card-text">
                                Montura metálica. Diseño rectangular. Factor protección UV total con filtro categoría 3.</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$749.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">Unitalla</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Oro
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>