<body>
  <div class="h-100 backgroundHombre d-flex flex-column">
    <div class="py-5 mt-auto mb-auto">
      <div class="body"></div>
      <nav>
        <button type="button" class="btn btn-index">
          <a class="botonIndex" href="http://localhost:4200/index">Index</a>
        </button>

        <button type="button" class="btn btn-hombre">
          <a class="botonHombre" href="http://localhost:4200/hombre">Hombres</a>
        </button>
        <button type="button" class="btn btn-teen">
          <a class="botonTeen" href="http://localhost:4200/teen">Teen</a>
        </button>

        <button type="button" class="btn btn-mujeres">
          <a class="botonMujeres" href="http://localhost:4200/mujeres">Mujeres</a>
        </button>

        <button type="button" class="btn btn-niños">
          <a class="botonNiños" href="http://localhost:4200/page-4">Niños</a>
        </button>
      </nav>





      <div class="contenedor">
        <!-- Fila 1 -->
        <div class="fila">

          <div class="tarjeta">
            <img src="assets/imagenesHombre/AmericanaTraje.avif" class="card-img-top" alt="Camiseta Paris">
            <div class="Detalles">
              <h3 class="card-title">Americana traje slim fit 100% lino espiga</h3>
              <p class="card-text">
                Slim fit. Tejido 100% de lino. Solapas de muesca y ojal. Cierre delantero con botones.
                Bolsillo de ribete en el pecho. Dos bolsillos de solapa en la parte delantera. Manga larga con puño de
                tira abotonada. Forro interior. Dos bolsillos de ribete en el interior. Doble abertura posterior en el
                bajo</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$4,499.00
                </li>
                <li class="list-group-item">
                  <p>Tallas</p>
                  <button class="Tallas-card" onclick="changeColor(this)">36</button>
                  <button class="Tallas-card" onclick="changeColor(this)">38</button>
                  <button class="Tallas-card" onclick="changeColor(this)">40</button>
                  <button class="Tallas-card" onclick="changeColor(this)">42</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Azul Indigo 
                </li>
              </ul>
            </div>
          </div>

          <div class="tarjeta">
            <img src="assets/imagenesHombre/BermudasVaqueras.avif" class="card-img-top" alt="Camisa Faconable">
            <div class="Detalles">
              <h3 class="card-title">Bermudas vaqueras slim fit</h3>
              <p class="card-text">Slim fit. Tejido de algodón estilo tejano vaquero. Trabillas para cinturón . Cierre
                de cremallera y botón. Dos bolsillos laterales. Bolsillo portamonedas. Bolsillos de parche en la parte
                posterior</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$999.00
                </li>
                <li class="list-group-item">
                  <p>Tallas</p>
                  <button class="Tallas-card" onclick="changeColor(this)">29</button>
                  <button class="Tallas-card" onclick="changeColor(this)">30</button>
                  <button class="Tallas-card" onclick="changeColor(this)">31</button>
                  <button class="Tallas-card" onclick="changeColor(this)">32</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Denim Negro
                </li>
              </ul>
            </div>
          </div>

          <div class="tarjeta">
            <img src="assets/imagenesHombre/DeportivasPiel.avif" class="card-img-top" alt="Camisa Faconable">
            <div class="Detalles">
              <h3 class="card-title">Deportivas piel panel contraste </h3>
              <p class="card-text">Corte de piel . Panel trasero de ante a contraste. Cierre de cordones. Punta redonda.
                Suela de goma.</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$2,199.00
                </li>
                <li class="list-group-item">
                  <p>Tallas</p>
                  <button class="Tallas-card " onclick="changeColor(this)">6</button>
                  <button class="Tallas-card " onclick="changeColor(this)">7</button>
                  <button class="Tallas-card " onclick="changeColor(this)">8</button>
                  <button class="Tallas-card " onclick="changeColor(this)">9</button>
                  <button class="Tallas-card " onclick="changeColor(this)">10</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Blanco
                </li>
              </ul>
            </div>
          </div>

          <div class="tarjeta">
            <img src="assets/imagenesHombre/DeportivasCombinadas.avif" class="card-img-top" alt="Camiseta Paris">
            <div class="Detalles">
              <h3 class="card-title">Deportivas combinadas piel</h3>
              <p class="card-text">DESCRIPCIÓN
                Diseño running. Corte de piel . Diseño combinado. Cierre de cordones. Punta redonda. Suela volumen de
                goma
                a contraste.</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$2199.00
                </li>
                <li class="list-group-item">
                  <p>Tallas</p>
                  <button class="Tallas-card" onclick="changeColor(this)">6</button>
                  <button class="Tallas-card" onclick="changeColor(this)">7</button>
                  <button class="Tallas-card" onclick="changeColor(this)">8</button>
                  <button class="Tallas-card" onclick="changeColor(this)">9</button>
                  <button class="Tallas-card" onclick="changeColor(this)">10</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Khaki
                </li>
              </ul>
            </div>
          </div>

          
        </div>

        <!-- Fila 2 -->
        <div class="fila">
          <div class="tarjeta">
            <img src="assets/imagenesHombre/MochilaPiel.avif" class="card-img-top" alt="Camiseta Paris">
            <div class="Detalles">
              <h3 class="card-title">Mochila detalles efecto piel</h3>
              <p class="card-text">Tejido reciclado. Compartimento principal con cierre de cremallera. Bolsillo
                mediano
                en
                relieve con cierre de cremallera. Asa corta. Respaldo y asas acolchados para mayor comodidad. Las asas
                de
                hombro son ajustables.</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$141.58
                </li>
                <li class="list-group-item">
                  <p>Tallas cm</p>
                  <button class="Tallas-card" onclick="changeColor(this)">40</button>
                  <button class="Tallas-card" onclick="changeColor(this)">45</button>
                  <button class="Tallas-card" onclick="changeColor(this)">50</button>
                  <button class="Tallas-card" onclick="changeColor(this)">55</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Khaki
                </li>
              </ul>
            </div>
          </div>

          <div class="tarjeta">
            <img src="assets/imagenesHombre/CamisaRegular.avif" class="card-img-top" alt="Camiseta Paris">
            <div class="Detalles">
              <h3 class="card-title">Camisa regular fit fluida estampada</h3>
              <p class="card-text">Regular fit. Diseño estampado. Tejido fluido. Manga corta. Cuello bowling. Cierre
                delantero con botones. Bajo recto. .</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$1499.00
                </li>
                <li class="list-group-item">
                  <p>Tallas</p>
                  <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                  <button class="Tallas-card" onclick="changeColor(this)">M</button>
                  <button class="Tallas-card" onclick="changeColor(this)">G</button>
                  <button class="Tallas-card" onclick="changeColor(this)">XG</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Blanco roto
                </li>
              </ul>
            </div>
          </div>

          <div class="tarjeta">
            <img src="assets/imagenesHombre/PoloAlgodon.avif" class="card-img-top" alt="Camiseta Paris">
            <div class="Detalles">
              <h3 class="card-title">Polo punto algodón cremallera</h3>
              <p class="card-text">DESCRIPCIÓN
                Tejido mezcla de algodón. Tejido de punto fino. Cuello polo con cierre de cremallera. Manga corta. Bajo
                recto. Terminaciones de canalé en cuello, manga y bajo.</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$999.00
                </li>
                <li class="list-group-item">
                  <p>Tallas</p>
                  <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                  <button class="Tallas-card" onclick="changeColor(this)">M</button>
                  <button class="Tallas-card" onclick="changeColor(this)">G</button>
                  <button class="Tallas-card" onclick="changeColor(this)">XG</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Azul Marino Oscuro
                </li>
              </ul>
            </div>
          </div>

          <div class="tarjeta">
            <img src="assets/imagenesHombre/PackBoxers.avif" class="card-img-top" alt="Camiseta Paris">
            <div class="Detalles">
              <h3 class="card-title">Pack 3 bóxers algodón</h3>
              <p class="card-text">Tejido de algodón stretch. Tipo boxer. Cintura con goma elástica. Pack de 3.</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>Precio</p>$799.00
                </li>
                <li class="list-group-item">
                  <p>Tallas</p>
                  <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                  <button class="Tallas-card" onclick="changeColor(this)">M</button>
                  <button class="Tallas-card" onclick="changeColor(this)">G</button>
                  <button class="Tallas-card" onclick="changeColor(this)">XG</button>
                </li>
                <li class="list-group-item">
                  <p>Color</p>Khaki
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>