//boton index Navbar
.botonIndex{
    color: black;
    text-decoration: none;
    background-color: #f1bb09;
}

.botonIndex:hover{
    color: #f40af0;
    background-color: #9ef40a;
}
//boton Hombres Navbar
.botonHombre{

    color: black;
    text-decoration: none;
    background-color: rgb(74, 189, 231);
  }
  
  .botonHombre:hover{
    color: rgb(235, 82, 11);
    background-color: yellow;
  }

  //boton Teen Navbar
.botonTeen{
    color: black;
    text-decoration: none;
    background-color: blueviolet;
  }
  .botonTeen:hover{
    color: rgb(249, 13, 233);
    background-color:#1afe06
  }

  //boton Mujeres Navbar
.botonMujeres{
    color: black;
    text-decoration: none;
    background-color: rgb(231, 15, 217);
  }
  
  .botonMujeres:hover{
    color:rgb(17, 235, 35);
    background-color: rgb(101, 14, 159);
  }

  //boton Niños(page-4) Navbar
.botonNiños{
    color: black;
    text-decoration: none;
    background-color: #e2f114;
  }
  
  .botonNiños:hover{
    color:rgb(226, 241, 18);
    background-color: #f40a0a;
  }