<button 
type="button" class="btn btn-index">
<a class="botonIndex" href="http://localhost:4200/index">Index</a>
</button>

<button 
type="button" class="btn btn-hombre">
<a class="botonHombre" href="http://localhost:4200/hombre">Hombres</a>
</button>

<button 
type="button" class="btn btn-teen">
<a class="botonTeen" href="http://localhost:4200/teen">Teen</a>
</button>

<button 
type="button" class="btn btn-mujeres">
<a class="botonMujeres" href="http://localhost:4200/mujeres">Mujeres</a>
</button>

<button 
type="button" class="btn btn-niños">
<a class="botonNiños" href="http://localhost:4200/page-4">Niños</a>
</button>