<body>
    <div class="h-100 backgroundTeen d-flex flex-column">
        <div class="py-5 mt-auto mb-auto">
            <div class="body"></div>
            <nav>
                <button type="button" class="btn btn-index">
                    <a class="botonIndex" href="http://localhost:4200/index">Index</a>
                </button>

                <button type="button" class="btn btn-hombre">
                    <a class="botonHombre" href="http://localhost:4200/hombre">Hombres</a>
                </button>
                <button type="button" class="btn btn-teen">
                    <a class="botonTeen" href="http://localhost:4200/teen">Teen</a>
                </button>

                <button type="button" class="btn btn-mujeres">
                    <a class="botonMujeres" href="http://localhost:4200/mujeres">Mujeres</a>
                </button>

                <button type="button" class="btn btn-niños">
                    <a class="botonNiños" href="http://localhost:4200/page-4">Niños</a>
                </button>
            </nav>

            <div class="contenedor">
                <!-- Fila 1 -->
                <div class="fila">

                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/FaldaEstampado.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Falda estampado abalorios</h3>
                            <p class="card-text">

                                Limited edition. Total look. Estampado étnico. Detalle de abalorios. Diseño acampanado.
                                Diseño corto. Detalle de volante. Cintura elástica. La imagen de la modelo está generada
                                con inteligencia artificial.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$999.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                        <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                        <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                        <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                        <button class="Tallas-card" onclick="changeColor(this)">G</button>                              
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Naranja Pastel
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/BolsaCrochet.avif" class="card-img-top">
                        <div class="Detalles">
                            <h3 class="card-title">Bolso sobre crochet</h3>
                            <p class="card-text">
                                Tejido de algodón. Diseño crochet. Asa de cadena doble. Cierre de cremallera. Cierre de botón a presión. Cierre de solapa.
                                24.0x13.0x5.0cm (LargoxAltoxAncho).</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$1,199.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">Unitalla</button>
                                    
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Blanco Roto
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/CamisaLino.avif" class="card-img-top">
                        <div class="Detalles">
                            <h3 class="card-title">Camisa lino rayas</h3>
                            <p class="card-text">
                                Tejido mezcla de algodón y lino. Regular fit. Estampado de rayas. Cuello camisero. Manga larga. Cierre delantero. Cierre de botones.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$799.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">G</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Azul
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/DeportivasDiseño.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Deportivas diseño combinado</h3>
                            <p class="card-text">
                                Tejido poliéster. Punta redonda. Diseño combinado. Cierre de cordones.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$1,299.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">26</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">27</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">28</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">29</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Negro
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

                <!-- Fila 2 -->
                <div class="fila">
                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/ChalecoGallo.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Chaleco pata de gallo</h3>
                            <p class="card-text">Diseño pata de gallo. Diseño recto. Diseño acolchado. Cuello alto. Diseño crop. Sin mangas. Dos bolsillos de solapa. Cierre de botones. </p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$1,199.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Negro
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/BañadoresEstampados.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Bañador estampado hojas</h3>
                            <p class="card-text">Estampado de hojas. Diseño recto. Diseño corto. Cintura elástica. Cierre de cordón. Dos bolsillos laterales. Bolsillo de parche en la parte posterior.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$699.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">G</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Azul
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/BikiniEstampado.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Bikini estampado fruncido</h3>
                            <p class="card-text">Tejido elástico. Tejido fruncido. Estampado geométrico. Cuello redondo. Relleno de foam. Foam extraíble. Tirantes finos. Cierre de lazo en la parte posterior. Sin mangas. Braguita clásica. Braguita ajustable.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$999.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">G</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Azul Verde
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tarjeta">
                        <img src="assets/ImagenesTeen/ShortVaquero.avif" class="card-img-top" >
                        <div class="Detalles">
                            <h3 class="card-title">Short vaquero tiro medio</h3>
                            <p class="card-text">
                                Tejido de algodón estilo tejano vaquero. Diseño corto. Tiro medio. Diseño recto. Cinco bolsillos. Cierre de cremallera y botón.</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>Precio</p>$649.00
                                </li>
                                <li class="list-group-item">
                                    <p>Guia de Tallas</p>
                                    <button class="Tallas-card" onclick="changeColor(this)">ECH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">CH</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">M</button>
                                    <button class="Tallas-card" onclick="changeColor(this)">G</button>
                                </li>
                                <li class="list-group-item">
                                    <p>Color</p>Denim Negro
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>