<div class="h-100 background d-flex flex-column">
  <app-navbar></app-navbar>
  <div class="py-5 mt-auto mb-auto">
    <div class="container">
      <div class="body"></div>

      <div class="imgWrapper3">

        <button>
          <div class="botonHombre">
            <img class="botonHombre" id="buttonHombre" src="assets/hombre.jpeg" type="button"
              style="width:400px;height:500px;">
            <a class="botonHombre" href="http://localhost:4200/hombre"></a>
            <button class="botonHombre" id="buttonHombre" type="button"><a class="botonHombre"
                href="http://localhost:4200/hombre">Hombre</a></button>
          </div>
        </button>

        <button>
          <div class="botonTeen">
            <img class="botonTeen" type="button" id="botonTeen" src="assets/teen.jpeg"
              style="height: 500px; width: 385px;">
            <button class="botonTeen" id="buttonTeen" type="button"><a class="botonTeen"
                href="http://localhost:4200/teen">Teen</a></button>
          </div>
        </button>
        <button>
          <div class="botonMujeres">
            <img src="assets/mujer.jpeg" class="botonMujeres" type="button" style="width:400px;height:500px;" />
            <button class="botonMujeres" id="buttonMujer" type="button"><a class="botonMujeres"
                href="http://localhost:4200/mujeres">Mujer</a></button>
          </div>
        </button>
      </div>
        <button>
          <div class="botonNiños">
            <img src="assets/niños.jpeg" class="botonNiños" type="button" style="width:1265px;height:500px;">
            <button class="botonNiños" id="buttonNiños" type="button"><a class="botonNiños"
                href="http://localhost:4200/page-4">Niños</a></button>
          </div>
        </button>
      



      <div class="mb-3">
        <label for="name" class="form-label">Nombre usuario</label>
        <input type="text" class="form-control" [(ngModel)]="name" id="name" aria-describedby="namehelp">
        <div id="namehelp" class="form-text">Escribe tu id</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="text" class="form-control" [(ngModel)]="password" id="password" aria-describedby="passwordhelp">
        <div id="passwordhelp" class="form-text">Escribe tu contraseña</div>
      </div>

      <button type="button" class="btn btn-call-action mt-5" (click)="createprenda()">
        Registra aqui
      </button>

    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h5>Nuestras clientes</h5>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 py-2" *ngFor="let prenda of prendas">
        <img [src]="prenda.avatar" alt="" />
        <p class="mb-0">{{ prenda.createdAt | date }}</p>
        <p class="mb-0">{{ prenda.name }}</p>
        <p class="mb-0">{{ prenda.password }}</p>
        <div class="dot" [ngStyle]="{'background-color': prenda.color}"></div>

        <button class="btn btn-danger btn-sm mt-2" (click)="deleteprenda(prenda.id)">
          borrar
        </button>
      </div>
    </div>
  </div>
</div>