<body>
    <div class="h-100 backgroundÑinos d-flex flex-column">
        <div class="py-5 mt-auto mb-auto">
            <div class="body"></div>
            <nav>
                <button type="button" class="btn btn-index">
                    <a class="botonIndex" href="http://localhost:4200/index">Index</a>
                </button>

                <button type="button" class="btn btn-hombre">
                    <a class="botonHombre" href="http://localhost:4200/hombre">Hombres</a>
                </button>
                <button type="button" class="btn btn-teen">
                    <a class="botonTeen" href="http://localhost:4200/teen">Teen</a>
                </button>

                <button type="button" class="btn btn-mujeres">
                    <a class="botonMujeres" href="http://localhost:4200/mujeres">Mujeres</a>
                </button>

                <button type="button" class="btn btn-niños">
                    <a class="botonNiños" href="http://localhost:4200/page-4">Niños</a>
                </button>
            </nav>

            <div class="contenedor">
                <!-- Fila 1 -->
                <div class="fila">
        
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/CamisetaRayas.avif" class="card-img-top" alt="Camiseta Paris">
                    <div class="Detalles">
                      <h3 class="card-title">Camiseta rayas textura</h3>
                      <p class="card-text">
                        Conjunto. Total look. Tejido de algodón. Diseño recto. Estampado de rayas. Acabado con textura. Cuello redondo. Tirantes anchos. Abertura en la espalda. Sin mangas. Cierre de botón.</p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$499.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">5-6 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">7-8 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">9-10 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">11-12 años</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Beige
                        </li>
                      </ul>
                    </div>
                  </div>
        
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/BermudasCintura.avif" class="card-img-top" alt="Camisa Faconable">
                    <div class="Detalles">
                      <h3 class="card-title">Bermudas cintura elástica</h3>
                      <p class="card-text">Summer camp. Tejido con algodón. Diseño recto. Diseño corto. Cintura elástica con cordón. Dos bolsillos laterales.</p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$399.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">5-6 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">7-8 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">9-10 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">11-12 años</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Marron Medio
                        </li>
                      </ul>
                    </div>
                  </div>
        
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/BañadorEstrellas.avif" class="card-img-top" alt="Camisa Faconable">
                    <div class="Detalles">
                      <h3 class="card-title">Bañador estampado estrellas</h3>
                      <p class="card-text">
                        Diseño recto. Diseño corto. Adorno de estrellas de mar. Bolsillo de parche en la parte posterior. Cintura elástica. Forro interior. Cierre de cordón.</p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$479.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">5-6 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">7-8 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">9-10 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">11-12 años</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Verde Agua
                        </li>
                      </ul>
                    </div>
                  </div>
        
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/BañadorEstampado.avif" class="card-img-top" alt="Camiseta Paris">
                    <div class="Detalles">
                      <h3 class="card-title">Bañador estampado flores</h3>
                      <p class="card-text">
                        Summer camp. Estampado de flores. Diseño corto. Sin foam. Tirantes finos cruzados. Cuello redondo. Sin mangas. Forro interior. Esta prenda también está disponible en la colección de Kids Girl.</p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$479.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">9-18 meses</button>
                          <button class="Tallas-card" onclick="changeColor(this)">18-36 meses</button>
                          <button class="Tallas-card" onclick="changeColor(this)">3-4 años</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Azul Marino Oscuro
                        </li>
                      </ul>
                    </div>
                  </div>
        
                  
                </div>
        
                <!-- Fila 2 -->
                <div class="fila">
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/VestidoBordado.avif" class="card-img-top" alt="Camiseta Paris">
                    <div class="Detalles">
                      <h3 class="card-title">Vestido bordado lazo</h3>
                      <p class="card-text">Colección fiesta y ceremonia. Tejido bordado. Diseño recto. Lazo a la cintura. Cuello redondo. Manga corta. Cierre de botones en la parte posterior. </p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$2,299.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">9</button>
                          <button class="Tallas-card" onclick="changeColor(this)">10</button>
                          <button class="Tallas-card" onclick="changeColor(this)">11</button>
                          <button class="Tallas-card" onclick="changeColor(this)">12</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Blanco
                        </li>
                      </ul>
                    </div>
                  </div>
        
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/SudaderaAlgodon.avif" class="card-img-top" alt="Camiseta Paris">
                    <div class="Detalles">
                      <h3 class="card-title">Sudadera algodón</h3>
                      <p class="card-text">100% algodón. Tejido perchado. Diseño recto. Mensaje estampado. Manga larga. Sin cierre.</p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$599.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">5-6 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">7-8 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">9-10 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">11-12 años</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Verde
                        </li>
                      </ul>
                    </div>
                  </div>
        
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/ChalecoAlcochado.avif" class="card-img-top" alt="Camiseta Paris">
                    <div class="Detalles">
                      <h3 class="card-title">Chaleco acolchado</h3>
                      <p class="card-text">Diseño recto. Diseño acolchado. Dos bolsillos de solapa. Cuello redondo. Sin mangas. Cierre de botones. Cierre de botones a presión. Etiqueta interior para datos personales.</p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$649.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">9-18 meses</button>
                          <button class="Tallas-card" onclick="changeColor(this)">18-36 meses</button>
                          <button class="Tallas-card" onclick="changeColor(this)">3-4 años</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Azul Celeste
                        </li>
                      </ul>
                    </div>
                  </div>
        
                  <div class="tarjeta">
                    <img src="assets/ImagenesNiños/PantalonJogger.avif" class="card-img-top" alt="Camiseta Paris">
                    <div class="Detalles">
                      <h3 class="card-title">Pantalón jogger algodón</h3>
                      <p class="card-text">
                        100% algodón. Diseño recto. Diseño jogger. Diseño largo. Cintura elástica. Cierre de cordones.</p>
        
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p>Precio</p>$399.00
                        </li>
                        <li class="list-group-item">
                          <p>Guia de Tallas</p>
                          <button class="Tallas-card" onclick="changeColor(this)">9-12 meses</button>
                          <button class="Tallas-card" onclick="changeColor(this)">12-18 meses</button>
                          <button class="Tallas-card" onclick="changeColor(this)">2-3 años</button>
                          <button class="Tallas-card" onclick="changeColor(this)">3-4 años</button>
                        </li>
                        <li class="list-group-item">
                          <p>Color</p>Khaki
                      </ul>
                    </div>
                  </div>
        
                </div>
              </div>
        </div>
    </div>
</body>